body{
    margin: 0;
    padding: 0;
    background-color: purple;
    font-family: sans-serif;
}
.list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    color: white;
    letter-spacing: 1px;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
    color: white;
    position: relative;
    margin: 10px 0;
    padding: 0;
    border-left: 2px solid salmon;
    left: 0;
    transition: 0.5s;
}
ul li:hover{
    left: 10px;
}
ul li::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: salmon;
    transition: 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}
ul li:hover::before{
    transform: scaleX(1);
}
ul li p{
    position: relative;
    display: inline-block;
    padding: 8px;
    margin: 0;
}