body{
    margin: 0;
    padding: 0;
    background-color: teal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    margin: 50px auto 0;
    width: 85%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    margin: 10px;
    width: 300px;
    height: 400px;
    position: relative;
    background-color: white;
    overflow: hidden;
}
.card .img{
    width: 100%;
    height: 320px;
}
.card .img img{
    width: 100%;
    height: 100%;
}
.card .content{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background-color: darkslategrey;
    transition: 0.5s;
    padding: 10px;
    box-sizing: border-box;
}
.card .content h1{
    margin-top: 10px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
}
.card .content p{
    text-align: justify;
    /* letter-spacing: 1px; */
    color: rgba(255, 255, 255, 0.8);
}
.card:hover .content{
    height: 215px;
}

@media(max-width:748px){
    .container{
        justify-content: center;
    }
}