* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

body {
    background-color: firebrick;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    padding: 20px;
}

form div {
    position: relative;
}

form input {
    width: 100%;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid black;
    padding: 10px 0;
}

form label {
    position: absolute;
    top: 9px;
    left: 0;
    pointer-events: none;
    transition: 0.5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
    font-size: 12px;
    color: tomato;
}

input:focus,
input:valid {
    border-bottom: 1px solid tomato;
}