body {
  background: #262626;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: white;
  width: 300px;
  height: 350px;
}

.swiper-slide .img, .swiper-slide .img img{
  width: 100%;
  height: 300px;
}

.swiper-slide .content{
  width: 100%;
  text-align: center;
}