*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #2e2e2e;
}
.heading h1{
    color: white;
    font-size: 5em;
    letter-spacing: 2px;
}
section{
    display: flex;
    width: 100%;
    height: auto;
}
section .img{
    width: 50%;
    height: 100vh;
    position: sticky;
    top: 0;
}
section .img img{
    width: 100%;
    height: 100%;
}
section .content{
    width: 50%;
    padding: 60px;
}