body{
    margin: 0;
    padding: 0;
    background-color: #222831;
    font-family: calibri;
}
.container{
    width: 85%;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    justify-content: center;
    grid-gap: 15px;
}
.box{
    height: 250px;
    position: relative;
    overflow: hidden;
}
.box .img{
    position: relative;
}
.box .img img{
    width: 100%;
    height: 250px;
    transform: scale(1);
    transition: transform 1s;
}
.box:hover .img img{
    transform: scale(1.2);
}
.box .content{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    box-sizing: border-box;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.box:hover .content{
    transform: scaleX(1);
}
.box .content h2{
    margin: 0;
    margin-top: 10px;
    color: white;
    font-size: 1.8em;
    text-align: center;
}
.box .content p{
    font-size: 0.9em;
    color: white;
    font-weight: lighter;
    text-align: center;
}